thesis-gnuplottex*
thesis.gnuploterrors
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.lof
thesis.log
thesis.lol
thesis.lot
thesis.out
thesis.pdf
thesis.run.xml
thesis.toc
thesis.acn
thesis.glo
thesis.ist
thesis.acr
thesis.alg
thesis.glg
thesis.gls
*~
